/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-post {
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl cursor-pointer rounded-none;
  }
  .style-input {
    @apply px-5 py-5 text-3xl my-2 box-border outline-none border-2 border-solid border-[#dddfe2] focus:border-blue-500 rounded-md;
  }
}

ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
button {
	background-color: transparent;
}
p {
	margin: 0 0 0 1rem !important;
}